@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@font-face {
    font-family: "KodeMono";
    src: url("/fonts/KodeMono-VariableFont_wght.ttf") format("truetype");
}

body {
    font-family: "KodeMono";
}
