@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@font-face {
    font-family: "KodeMono";
    src: url("/fonts/KodeMono-VariableFont_wght.ttf") format("truetype");
}

body {
    font-family: "KodeMono";
}

.range {
    background: transparent;
    border-radius: 0;
    --range-shdw: transparent;
}

.range::-webkit-slider-runnable-track {
    border-radius: 0;
    background-color: #00fe94;
}

.range::-webkit-slider-thumb {
    border-radius: 0;
    height: 2rem;
    background: #00fe94;
}

.range::-moz-range-track {
    border-radius: 0;
    background-color: #00fe94;
}

.range::-moz-range-thumb {
    border-radius: 0;
    background-color: #00fe94;
}
